*

!.bashrc
!.bashrc.canonical
!.bashrc.osx
!.config/
!.config/bat/
!.config/bat/config
!.dircolors
!.git-completion
!.gitconfig
!.gitconfig.private
!.gitignore
!.gitk
!.local/
!.local/bin/
!.local/bin/*
!.local/bin/*/*
!.ps1_vcs
!.ssh/
!.ssh/config

