*

!.bashrc
!.bashrc.canonical
!.bashrc.osx
!.bazaar/
!.bazaar/authentication.conf
!.bazaar/bazaar.conf
!.bazaar/ignore
!.bazaar/locations.conf
!.colordiffrc
!.config/
!.config/bat/
!.config/bat/config
!.config/conky/
!.config/conky/conky.conf
!.config/nvim/
!.config/nvim/autoload/
!.config/nvim/autoload/*
!.config/nvim/ftplugin/
!.config/nvim/ftplugin/python/
!.config/nvim/ftplugin/python/*
!.config/nvim/init.vim
!.config/nvim/plugged
!.config/nvim/plugged/*
!.config/nvim/spell/
!.config/nvim/spell/*.add
!.config/nvim/syntax/
!.config/nvim/syntax/*
!.ctags
!.dircolors
!.gitattributes
!.git-completion
!.gitconfig
!.gitconfig.private
!.gitignore
!.gitk
!.inputrc
!.local/
!.local/bin/
!.local/bin/*
!.local/bin/*/*
!.nethackrc
!.profile
!.ps1_vcs
!.psqlrc
!.pydistutils.cfg
!.pylintrc
!.pythonstartup.py
!.screenrc
!.ssh/
!.ssh/config
!.tmux.conf
!.toprc
!.vimrc
!VisualBoyAdvance.cfg
!mame.ini

