[REPORTS]
# set the output format. Available formats are:
# text, parseable, colorized, msvs (visual studio) and html
output-format=colorized
# Tells whether to display a full report or only the messages
reports=n
score=n

[BASIC]

# Allow lower-case 'logger' at module level
# default=(([A-Z_][A-Z0-9_]*)|(__.*__))$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__)|logger|log)$

# Allow upper-case constants within functions & classes
# Allow two-letter variable names
#    default=[a-z_][a-z0-9_]{2,30}$
variable-rgx=[a-zA-Z_][a-zA-Z0-9_]{1,30}$

# Allow the use of map, filter, lambda
# default=map,filter,input
bad-functions=

# Allow much longer method names (esp. useful for tests)
#  default=[a-z_][a-z0-9_]{2,30}$
method-rgx=[a-z_][a-z0-9_]{2,80}$

[MASTER]
# Add <file or directory> to the black list. It should be a base name, not a
# path. You may set this option multiple times.
ignore=tests

[MESSAGES CONTROL]

# Disable the messages with the given ids:
disable=bad-continuation, locally-disabled, missing-docstring, star-args, too-few-public-methods, trailing-newlines

