/** Reduce size of window title bars **/
headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 0px;
}

headerbar {
    min-height: 24px;
    padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
    padding-right: 2px;
    margin: 0px; /* same as headerbar side padding for nicer proportions */
    padding: 0px;
}

/** Don't know what this is **/
VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 1px 1px 4px 4px;
    -VteTerminal-inner-border: 1px 1px 4px 4px;
}

